{% extends 'music/base.html' %}
{% block title %}add a new Song{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="{% url 'music:add_song' album.id %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            {#                <div class="form-group">#}
                            {#                     <label class="control-label col-sm-2" for="id_song_title">Song_title:</label>#}
                            {#                    <div class="col-sm-offset-2 col-sm-10">#}
                            {#                        <input type="text" id="id_song_title" maxlength="30" name="name">#}
                            {#                    </div>#}
                            {#                </div>#}
                            {##}
                            {#                <div class="form-group">#}
                            {#                    <label class="control-label col-sm-2" for="id_song_file">请选择文件</label>#}
                            {##}
                            {##}
                            {##}
                            {##}
                            {#                </div>#}
                            {% include 'music/song_form_template.html' %}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">
                                        submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}