{% extends 'music/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if all_albums %}
                <div class="col-md-9">
                    <div class="row">
                        {% for each in all_albums %}
                            <div class="col-md-3 col-md-offset-1">
                                <div class="thumbnail">
                                    <a href="{% url     'music:detail' each.id %}">
                                        <img src="{{ each.album_logo }}" class="img-responsive">
                                    </a>
                                    <div class="caption">
                                        <h2> {{ each.album_title }}</h2>
                                        <h4> {{ each.artist }}</h4>

                                        <!--  Album details -->
                                        <a href="{% url 'music:detail' each.id %}" class="btn btn-primary btn-sm" role="button">
                                            所有歌曲</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% if songs %}
                        <div class="row">
                            <div class="container-fluid">
                                <div class="row col-md-offset-1">
                                    <div id="music">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                {% if request.session.login_in != True %}
                                                    <div class="col-md-6">
                                                        <h4>登录后将系统将推进给你合适音频</h4>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a class="btn btn-primary btn-block" href="/login">登录</a>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a class="btn btn-primary btn-block" href="/register">注册</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-offset-2  col-md-2">
                                            <button id="unlearned" class="btn btn-block btn-warning">没听懂</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button id="learned" class="btn btn-success btn-block">听懂了</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 100px; margin-bottom: 200px">
                                        <button style="margin-bottom: 20px;" class="btn btn-default" onclick="toggle_content()">显示文本</button>
                                        <div class="jumbotron" style=" height: 200px;opacity: 0; overflow:  scroll; background-color: #777777; color: white" id="song_content">
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="col-md-3">
                <div class="jumbotron " style="background-color: #265a88; color: white">
                    <h2>{{ message_board.title }}</h2>
                    <p>{{ message_board.content }}</p>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        const options = {
            zoomOutKana: true,
            big: true,
            size: 200,
            shadowDom: false
        };
        let player = new cplayer({
                element: document.getElementById('music'),
                playlist: [
                    {% for song in songs %}
                        {
                            src: "{{ song.audio_file }}",
                            poster: '',
                            name: '{{ song.name }}',
                            artist: '{{ song.author }}',
                            lyric: '{{ song.contents }}',
                            content: "{{ song.content }}",
                            sublyric: '{{ song.translation }}'
                        },
                    {% endfor %}
                ],
                dropDownMenuMode: 'bottom',
                volume: 0.75,
                width: '100%',
                showPlaylistButton: true,
                size: '20px'
            }
        );

        var unlearned = document.getElementById('unlearned');
        var learned = document.getElementById('learned');
        learned.onclick = function () {
            var name = player.nowplay.name;
            $.get('/learned/' + name, function (data, status) {
            }).fail(function () {
                alert('请登录');
            }).success(function () {
                alert('学习成功!')
            });
        };
        unlearned.onclick = function () {
            var name = player.nowplay.name;
            $.get('/learned/' + name, function (data, status) {
            }).fail(function () {
                alert('请登录');
            }).success(function () {
                alert('已为您记录');
            });
            player.next();
            player.play();
        }
    </script>
    {#     显示文本内容#}
    <script>
        var show = 1;

        function toggle_content() {
            var x = document.getElementById('song_content');
            var play = player.nowplay;
            x.innerHTML = "<p>" + play.content + "</p>";
            $('#song_content').animate({opacity: show});
            show = !show;
        }

        player.on('started', function () {
            var x = document.getElementById('song_content');
            var play = player.nowplay;
            x.innerHTML = "<p>" + play.content + "</p>";
        })
    </script>

{% endblock %}