{% extends 'music/base.html' %}
{#{% block title %}添加新的专辑{% endblock %}#}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>登录</h3>
                        {% if error %}
                            <p><strong> {{ error }}</strong></p>
                        {% endif %}
                        <form class="" action="{% url 'music:login' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        {% include 'music/form_template.html' %}
                                    <div class="row">
                <div class="col-md-5 ">
                                <button type="reset" class="btn btn-block btn-danger">清除</button>

                </div>
                <div class="col-md-5 col-md-offset-2">
                               <button type="submit" class="btn btn-block btn-success">登录</button>

                </div>
            </div>

                        </form>
                    </div>
                    {% if error %}
                        <div class="panel-footer">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="panel-footer">
                        Don't you have a account?
                        <a href="{% url 'music:register' %}">register here</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}