{% extends 'music/base_visitor.html' %}
{% block register_active %}active{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>注册</h3>
                        <form class="" action="{% url 'music:register' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'music/form_template.html' %}
                            <div class="row">
                                <div class="col-md-5 ">
                                    <button type="reset" class="btn btn-block btn-danger">清除</button>
                                </div>
                                <div class="col-md-5 col-md-offset-2">
                                    <button type="submit" class="btn btn-block btn-success">注册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}