<html>
<head>
<script type="text/javascript">
function loadXMLDoc()
{
var xmlhttp;
if (window.XMLHttpRequest){
    xmlhttp=new XMLHttpRequest();

}
else
{
    xmlhttp=new ActiveXObject("mircosoft.xmlhttp");
}
alert("here")
xmlhttp.onreadystatechange=function () {
    if (xmlhttp.readyState==4 &&xmlhttp.status==200){
        document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
}

}
</script>
</head>
<body>

<div id="myDiv"><h3>Let AJAX change this text</h3></div>
<button type="button" onclick="loadXMLDoc()">Change Content</button>

</body>
</html>