{% extends 'music/base.html' %}
{% block body %}
        <div class="container-fluid song-container">
            <div class="row">
                {#left album info#}
                <div class="col-sm-4 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <a href="{% url 'music:index' %}"></a>
                            <img src="https://via.placeholder.com/1000/000000/FFFFFF?text={{ word }}" class="img-responsive">
                        </div>
                    </div>
                </div>

                {#         right information    一行一行的显示#}
                <div class="col-sm-8 col-md-9">
                    {#                    <ul class="nav nav-pills" style="margin-bottom: 10px">#}
                    {#                        <li role="presentation" class="active"><a href="{% url 'music:detail' album.id %}">view All </a>#}
                    {#                        </li>#}
                    {#                        <li role="presentation" class="active"><a href="{% url 'music:add_song' album.id %}">add#}
                    {#                            Song </a>#}
                    {#                        </li>#}
                    {#                    </ul>#}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>单词 {{ word }}</h3>
                            {% if error_message %}
                                <p><strong>  {{ error_message }}  </strong></p>
                            {% endif %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>名字</th>
                                    <th>作者</th>
                                    <th>播放数</th>
                                    <th>关键词</th>
                                    <th>播放</th>
                                    <th>收藏</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.name }}</td>
                                        <td>{{ song.author }}</td>
                                        <td>{{ song.view_num }}</td>
                                        <td> {% for word in song.word.all %}
                                            <a href="{% url 'music:word_song' word.content %}"> {{ word.content }}  </a>
                                        {% endfor %}
                                        </td>
                                        <td>
                                            <a href="#">
                                                <button type="button" class="btn btn-success btn-xs" id="{{ forloop.counter0 }}" onclick="play_songs(this)">
                                                    <span class="glyphicon glyphicon-play"></span>
                                                    &nbsp; 播放
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href=" {% url 'music:favorite_song' song.id %}" class="btn-favorite">
                                                <span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="music" hidden></div>

                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script>
        const options = {
            zoomOutKana: true,
            big: true,
            size: 200,
            shadowDom: false
        };
        let player = new cplayer({
                element: document.getElementById('music'),
                playlist: [
                    {% for song in songs %}
                        {
                            src: "{{ song.audio_file }}",
                            poster: '',
                            name: '{{ song.name }}',
                            artist: '{{ song.author }}',
                            lyric: '{{ song.contents }}',
                            content: "{{ song.content }}",
                            sublyric: '{{ song.translation }}'
                        },
                    {% endfor %}
                ],
                dropDownMenuMode: 'bottom',
                volume: 0.75,
                width: '100%',
                showPlaylistButton: true,
                size: '20px',
                {#autoplay:true,#}
            }
        );
        function play_songs(object) {
            var app=document.getElementById('music');
            app.removeAttribute('hidden');
            player.to(object.id);
            player.play();
        }
    </script>
    {#     显示文本内容#}
    {#    <script>#}
    {#        var show = 1;#}
    {#        function toggle_content() {#}
    {#            var x = document.getElementById('song_content');#}
    {#            var a = player.nowplay;#}
    {#            x.innerHTML = "<p>" + a.content + "</p>";#}
    {#            $('#song_content').animate({opacity: show});#}
    {#            show = !show;#}
    {##}
    {#        }#}
    {#    </script>#}
{% endblock %}

